<%= form_for @record, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :start_location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_location, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stop_location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :stop_location, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_odometer, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_odometer, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stop_odometer, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :stop_odometer, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_use_coords, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :start_use_coords, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_lat, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_lat, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_long, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_long, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stop_use_coords, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :stop_use_coords, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stop_lat, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :stop_lat, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stop_long, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :stop_long, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :car, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :car, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reason, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :reason, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                records_path, :class => 'btn' %>
  </div>
<% end %>
